

<div class="body">
	<div class="container">
		<div class="error" *ngIf="foundError" >
			<li *ngIf="errors.email"><span>{{errors.email}}</span></li>
			<li *ngIf="errors.password"><span>{{errors.password}}</span></li>
			<span *ngIf="serverError">{{serverError}}</span>
		</div>
		<div class="login-box animated fadeInUp">
			<div class="box-header">
				<h2>Sign Up</h2>
			</div>
			<label for="username">Email</label>
			<br/>
			<input type="text" [(ngModel)]="user.email">
			<br/>
			<label for="password">Password</label>
			<br/>
			<input type="password" [(ngModel)]="user.password">
			<br/>
			<div class="buttons">
				<button class="back" (click)="signIn()">Back</button>
				<button type="" (click)="save()">Save</button>
			</div>
			<br/>
		</div>
	</div>
</div>

<script>
	let tagArr = document.getElementsByTagName("input");
	for (let i = 0; i < tagArr.length; i++) {
	  tagArr[i].autocomplete = 'off';
	}
  </script>