<div class="body">
	<div class="container">
		<div class="error" *ngIf="error">
			<span>{{error}}</span>
		</div>
		<div class="login-box animated fadeInUp">
			<div class="box-header">
				<h2>Log In</h2>
			</div>
			<label for="username">Email</label>
			<br/>
			<input type="text" id="username" [(ngModel)] = "user.email">
			<br/>
			<label for="password">Password</label>
			<br/>
			<input type="password" id="password" [(ngModel)] = "user.password">
			<br/>
			<div class="buttons">
				<button class="signup" (click)="signUp()">Sign Up</button>
				<button type="" (click)="login()">Sign In</button>
			</div>
			<br/>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
    	$('#logo').addClass('animated fadeInDown');
    	$("input:text:visible:first").focus();
	});
	$('#username').focus(function() {
		$('label[for="username"]').addClass('selected');
	});
	$('#username').blur(function() {
		$('label[for="username"]').removeClass('selected');
	});
	$('#password').focus(function() {
		$('label[for="password"]').addClass('selected');
	});
	$('#password').blur(function() {
		$('label[for="password"]').removeClass('selected');
	});
</script>