<div>
  <div class="container">
    <div class="authenticated-box animated fadeInUp">
      <div class="box-header">
        <h2>Welcome to Homepage</h2>
      </div>
      <div class="authenticated-information">
        <div class="confirmation-circle">
          <mat-icon class="icon">check</mat-icon>
        </div>
        <p>You are now authenticated!</p>
      </div>
      <span>Your token will expire soon.</span>
      <div class="buttons">
        <button (click)="logOut()">Log out</button>
      </div>
    </div>
  </div>
</div>
